.App {
  height: 1200px;
  background-color: #EEEEEE;
}

main.container {
  max-width: 960px;
  margin: 20px auto;
}

.posts {
  padding: 0 10%;
}

.active::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -23px;
  height: 3px;
  border-bottom: 3px solid white;
}